/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table tbody tr:hover {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

/* Light mode 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(156 163 175); /* 스크롤바 막대 색상 */
    border: 0.3rem solid rgb(229 231 235); /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);  /* 스크롤바 막대 색상 */
}

::-webkit-scrollbar-track {
    background-color: rgba(229 231 235);  /*스크롤바 뒷 배경 색상*/
}

.dark {
    ::-webkit-scrollbar-thumb {
        background: rgb(31 41 55); /* 어두운 모드에서 스크롤바 막대 색상 변경 */
        border: 0.3rem solid rgb(55 65 81); /* 어두운 모드에서 스크롤바 막대 테두리 색상 변경 */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(75 85 99); /* 어두운 모드에서 스크롤바 막대 색상 변경 */
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(55 65 81); /* 어두운 모드에서 스크롤바 뒷 배경 색상 변경 */
    }

    table tbody tr:hover {
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    }

    select option:hover {
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    }
}
